body {
  margin: 0;
}
/*to prevent the overlapping of navigation bar on the other elements of the body*/
#preventoverlap{
  padding-top: 80px;
}
ul{
  list-style: none;
}
#about{
  margin-top: 10px;
}
.about{
  border: 1px solid aquamarine;
  margin-top: 50px;
  border-radius: 25px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #fafad2;
  padding-top: 15px;
  padding-bottom: 15px;
}
h1 {
    color:gold;
}
#bold{
  font-size: 200%;
  margin-bottom: 100px;
}
p{
  font-size: 20px;
}
.about:hover{
  color: aquamarine;
  border-radius: 35px;
  border: 1px solid red;
  background-color: #ff7f50;
}
@media screen and (max-width: 750px){
  .about{
    margin-left: 5px;
  margin-right: 5px;
  }
  #about{
    margin-top: 5px;
  }
  #bold{
    font-size: 75%;
  }
}
